:root {
  --secondary--backgraund--color: #2f303a;
  --portfolio-background-color: #f5f4fa;
  --primery-text-decoration-color: #757575;
  --text-decoration-color: #000000;
  --hover-button-color: #2196f3;
  --primary-white-color: #ffffff;
  --alternative-text-decoration-color: #fff;
  --hero--backgraund--color: rgba(47, 48, 58, 0.4);
  --apper-image-title-text: rgba(47, 48, 58, 0.8);
  --footer-icon-bgcolor: rgba(255, 255, 255, 0.1);
  --main-link-color: #212121;
  --accent-link-color: #2196f3;
  --accent-icon-color: #afb1b8;
  --heater-contact-text-color: #757575;
  --footer-contact-text-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: roboto, sans-serif;
  color: var(--text-decoration-color);
  font-size: 14px;
  line-height: 1.7;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link,
.conection {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------------------LOGO--------------------------- */

.logo {
  color: var(--accent-link-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo-continuation-footer {
  color: var(--alternative-text-decoration-color);
}

.logo-continuation-header {
  color: var(--text-decoration-color);
}

/* ---------------------- HEADER--------------------------*/

.main-nav,
.container-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav .site-nav-link {
  text-decoration: none;
}

.header-contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact-link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list .item + .item {
  margin-left: 50px;
}
.header-contact-list .conection:hover,
.header-contact-list .conection:focus,
.site-nav-link.current,
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-link-color);
}

.site-nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-link-color);
}

.header-contact-list-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contact-list .conection {
  color: var(--heater-contact-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header {
  border-bottom: 1px solid var(--border-color);
}

/*---------------------- HERO------------------------ */

.hero {
  background: var(--secondary--backgraund--color);
  background-image: radial-gradient(var(--hero--backgraund--color), var(--hero--backgraund--color)),
    url('../imeges/hiro_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  color: var(--alternative-text-decoration-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*---------------- HERO beckdrop, modal ------------------- */

.hero-beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--backdrop-color);
  transition: opacity 250ms, visibility 250ms;
}

.hero-beckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background: var(--alternative-text-decoration-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.forms {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primery-text-decoration-color);
}

.form-box {
  position: relative;
  width: 100%;
}

.form-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
}

.form-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.form-item + .form-item {
  margin-top: 10px;
}

.form-input {
  display: block;
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--heater-contact-text-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--hover-button-color);
}

.form-input:focus,
.form-input:hover {
  border: 1px solid var(--hover-button-color);
}

.comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:hover,
.comment:focus {
  border: 1px solid var(--hover-button-color);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

textarea {
  resize: none;
}

.checkbox {
  text-align: center;
  margin-top: 20px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--heater-contact-text-color);
}

.btn-form {
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--alternative-text-decoration-color);
  background-color: var(--accent-link-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon-checked {
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  border: 2px solid var(--main-link-color);
  border-radius: 4px;
  fill: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-box {
  position: relative;
}

.policy {
  margin-left: 9px;
}

.checkbox-input:checked + .checkbox-icon-checked {
  background-color: var(--hover-button-color);
  border-color: var(--hover-button-color);
  fill: var(--primary-white-color);
}

.checkbox-input:hover + .checkbox-icon-checked,
.checkbox-input:focus-visible + .checkbox-icon-checked {
  border-color: var(--hover-button-color);
}

.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--hover-button-color);
  margin-left: 4px;
}

/* ----------------------HERO MODAL BUTTON---------------------- */

.hero-icon-close {
  position: absolute;
  top: 4px;
  right: 04px;
  cursor: pointer;
}

.hero-icon-close:hover,
.hero-icon-close:focus {
  fill: var(--accent-link-color);
}

.hero-icon-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* ----------------------HERO BUTTON---------------------- */

.hero__button {
  color: var(--alternative-text-decoration-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding: 10px 22px;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  color: var(--main-link-color);
  background-color: var(--accent-link-color);
}

/* -------------------ADVANTAGE SECTION--------------------*/

.advantage__list .item + .item {
  margin-left: 30px;
}

.advantage__list {
  display: flex;
}

.advantage__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--portfolio-background-color);
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__title {
  margin-bottom: 10px;
  color: var(--text-decoration-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage__text {
  color: var(--primery-text-decoration-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages-list .list {
  display: flex;
}

/*--------------------WORKING SECTION--------------------- */

.section--nopaddingtop {
  padding-top: 0;
}

.workiтg-team-section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.works .item + .item {
  margin-left: 30px;
}

.works {
  display: flex;
}

.works__image-box {
  position: relative;
}

.works__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: var(--apper-image-title-text);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apper-image-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternative-text-decoration-color);
}

/*---------------------OUR TEAM SECTION--------------------- */

.team-section {
  background: var(--portfolio-background-color);
}

.team-section-list {
  display: flex;
}

.team__item:first-child {
  margin-left: 0;
}

.team__item {
  background-color: var(--alternative-text-decoration-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 0 0 30px;
}

.team__thumb {
  padding: 30px 0;
  border: 1px solid var(--border-color);
  border-top: none;
}

.team-section .text {
  color: var(--primery-text-decoration-color);
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__tamp__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-section-list {
  display: flex;
  justify-content: center;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item,
.social__link {
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:hover,
.social__link:focus {
  background-color: var(--accent-link-color);
  border-radius: 50%;
}

.social__item:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--alternative-text-decoration-color);
}

.social__icon {
  fill: var(--accent-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item + .social__item {
  margin-left: 10px;
}

/*---------------------OUR CLIENT SECTION--------------------- */

.clients {
  display: flex;
}

.client-section__item + .client-section__item {
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--accent-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon,
.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-link-color);
  border-color: var(--accent-link-color);
}

/*---------------------- FILTER BUTTON---------------------- */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item + .item {
  margin-left: 8px;
}

.filter__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-link-color);
  color: var(--alternative-text-decoration-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------------------PORTFOLIO PAGE---------------------- */

.windows-portfolio-section {
  display: flex;
  flex-wrap: wrap;
}

.windows-portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.windows-portfolio-link:hover,
.windows-portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.windows-portfolio-list {
  margin: 0 30px 30px 0;
  position: relative;
}

.windows-portfolio-list:nth-child(3n) {
  margin-right: 0;
}

.windows-portfolio-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.windows-portfolio-link:hover .portfolio__overlay,
.windows-portfolio-link:focus .portfolio__overlay {
  opacity: 1;
  transform: translatey(0);
}

.portfolio__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 63px 17px 63px 31px;
  background-color: var(--overlay-color);
  transform: translatey(100%);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--alternative-text-decoration-color);
}

.portfolio-overflow-hidden {
  overflow: hidden;
  position: relative;
}

.portfolio-section-img {
  display: block;
}

.portfolio-presection {
  position: relative;
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.main-portfolio-heading-h2 {
  margin: 0 0 4px 0;
  color: var(--main-link-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.main-portfolio-prink {
  color: var(--primery-text-decoration-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ---------------------FOOTER---------------------- */

.footer {
  display: flex;
  padding: 60px 0;
  background: var(--secondary--backgraund--color);
  color: var(--alternative-text-decoration-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__container-address {
  flex-grow: 1;
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 20px 0 0;
}

.conection {
  color: var(--footer-contact-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 9px;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer-contact-map {
  color: var(--alternative-text-decoration-color);
}

.footer__container-socials {
  margin-left: 70px;
}

.footer__container-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--alternative-text-decoration-color);
}

.footer__contacts .conection:hover,
.footer__contacts .conection:focus {
  color: var(--accent-link-color);
}

.footer__socials--list {
  display: flex;
  /* justify-content: center; */
}

.footer__socials--link {
  background-color: var(--footer-icon-bgcolor);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials--link:hover,
.footer__socials--link:focus {
  background-color: var(--accent-link-color);
  border-radius: 50%;
}

.footer__socials--link:hover .footer__socials--icon,
.footer__socials--link:focus .footer__socials--icon {
  fill: var(--alternative-text-decoration-color);
}

.footer__socials--icon {
  fill: var(--alternative-text-decoration-color);
}

.footer__socials--item + .footer__socials--item {
  margin-left: 10px;
}

.footer__container-subscribe {
  margin-left: 93px;
}

.button-input {
  display: flex;
  align-items: end;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--accent-link-color);
  color: var(--alternative-text-decoration-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.subscribe-form input {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary--backgraund--color);
  margin-top: 20px;
  margin-right: 12px;
  color: var(--footer-contact-text-color);
  padding-left: 16px;
}

.subscribe-form input::placeholder {
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}

/* ----------------------BUTTON---------------------- */

.button {
  background-color: var(--accent-link-color);
  color: var(--alternative-text-decoration-color);
}

.button.primary {
  background-color: var(--accent-link-color);
  color: var(--alternative-text-decoration-color);
}

.button.secondary {
  background-color: var(--alternative-text-decoration-color);
  color: var(--accent-link-color);
}
